<div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_1.jpg');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-9  text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Add products</span></p>
          <h1 class="mb-0 bread">ADD PRODUCTS</h1>
        </div>
      </div>
    </div>
  </div>
  
  <section class="ftco-section ftco-cart">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div class="cart-list">
            <table class="table">
              <thead class="thead-primary">
                <tr class="text-center">
                  <!-- <th>Delete</th> -->
                  <!-- <th>&nbsp;</th> -->
                  <!-- <th>&nbsp;</th> -->
                  <th>Edit</th>
                  <th>Product name</th>
                  <th>Quantity</th>
                  <th>Price(₹)</th>
                  <!-- <th>Total</th>  -->
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" >
                  <!-- <td class="product-remove"><a routerLink="/cart"><span class="ion-ios-close" (click)="deleteProduct(product._id)"></span></a></td> -->
                  <!-- <td>
                    <button class="btn btn-block btn-danger " (click)="deleteProduct(product._id)">Delete</button>
                  </td> -->
                  <!-- <td class="image-prod"><div class="img" style="background-image:url(assets/images/product-3.jpg);"></div></td> -->
                  <td>
                    <button class="btn btn-block btn-success" (click)="addproducts(productItem)">Add</button>
                  </td>
                  <td class="product-name">
                    <input type="text" name="p_title" [(ngModel)]="productItem.title">
                  </td>
                  <td>
                    <input type="text" name="p_quantity" [(ngModel)]="productItem.quantity">
                  </td>
                  <td class="price">
                    <input type="text" name="p_price" [(ngModel)]="productItem.price">
                  </td>
                  <!-- <td class="quantity"> 1 </td> -->
                  <!-- <td class="quantity">
                    <div class="input-group mb-3">
                       <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                    </div>
                  </td> -->
                  
                  <!-- <td class="total">$4.90</td> -->
                </tr><!-- END TR-->
  
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
  
      
      
  
      </section>
