<div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_1.jpg');">
  <div class="container">
    <div class="row slider-text align-items-center justify-content-center">
      <div class="col-md-9  text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Cart</span></p>
        <h1 class="mb-0 bread">My Cart</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="cart-list">
          <table class="table">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>Delete</th>
                <!-- <th>&nbsp;</th> -->
                <!-- <th>&nbsp;</th> -->
                <th>Edit</th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Price(₹)</th>
                <!-- <th>Total</th>  -->
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor='let product of products'>
                <!-- <td class="product-remove"><a routerLink="/cart"><span class="ion-ios-close" (click)="deleteProduct(product._id)"></span></a></td> -->
                <td>
                  <button class="btn btn-block btn-danger " (click)="deleteProduct(product._id)">Delete</button>
                </td>
                <!-- <td class="image-prod"><div class="img" style="background-image:url(assets/images/product-3.jpg);"></div></td> -->
                <td>
                  <button class="btn btn-block btn-success" (click)="onEdit(product._id)">Edit</button>
                </td>
                <td class="product-name">
                  <h3>{{product.title}}</h3>
                </td>
                <td>
                  <h6>{{product.quantity}}</h6>
                </td>
                <td class="price">{{product.quantity*product.price }}</td>
                <!-- <td class="quantity"> 1 </td> -->
                <!-- <td class="quantity">
                  <div class="input-group mb-3">
                     <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                  </div>
                </td> -->
                
                <!-- <td class="total">$4.90</td> -->
              </tr><!-- END TR-->

              <!-- <tr class="text-center">
                <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
                <div></div>
                <td class="image-prod"><div class="img" style="background-image:url(assets/images/product-4.jpg);"></div></td>
                
                <td class="product-name">
                  <h3>Bell Pepper</h3>
                </td>
                
                <td class="price">$15.70</td>
                
                <td class="quantity">
                  <div class="input-group mb-3">
                     <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                  </div>
                </td>
                
                <td class="total">$15.70</td>
              </tr>END TR -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>

    <div class="col-lg-4 mt-5 cart-wrap ">
      <div class="cart-total mb-3">
        <h3>Cart Total</h3>
        <p class="d-flex">
          <span>Subtotal</span>
          <span>₹ {{this.total}}</span>
        </p>
        <p class="d-flex">
          <span>Delivery</span>
          <span>₹40.00</span>
        </p>
        <!-- <p class="d-flex">
          <span>Discount</span>
          <span>$3.00</span>
        </p> -->
        <hr>
        <p class="d-flex total-price">
          <span>Total</span>
          <span>₹ {{total+40}}</span>
        </p>
      </div>
      <p><a routerLink="/checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    </div>


    </section>