<div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_1.jpg');">
    <div class="container">
      <div class="row  slider-text align-items-center justify-content-center">
        <div class="col-md-9  text-center">
            <p class="breadcrumbs"><span class="mr-2"><a routerLink="/">Home</a></span> <span>Checkout</span></p>
          <h1 class="mb-0 bread">Checkout</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 ">
                      <form class="billing-form" [formGroup]="checkoutForm" (ngSubmit)="checkoutUser()">
                          <h3 class="mb-4 billing-heading">Billing Details</h3>
                <div class="row align-items-end">
                    <div class="col-md-6">
                  <div class="form-group">
                      <label for="firstname">First Name</label>
                    <input type="text" formControlName="fname" [class.is-invalid]=" checkoutForm.get('fname').touched"  class="form-control" placeholder="">
                    <div *ngIf="checkoutForm.get('fname').touched">
                      <small *ngIf="checkoutForm.get('fname').errors?.required" class="text-danger">First name is required</small>
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="lastname">Last Name</label>
                    <input type="text" formControlName="lname" [class.is-invalid]=" checkoutForm.get('lname').touched"  class="form-control" placeholder="">
                    <div *ngIf="checkoutForm.get('lname').touched">
                      <small *ngIf="checkoutForm.get('lname').errors?.required" class="text-danger">Last name is required</small>
                  </div>
                  </div>
              </div>
              <div class="w-100"></div>
                  <!-- <div class="col-md-12">
                      <div class="form-group">
                          <label for="country">State / Country</label>
                          <div class="select-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="" class="form-control">
                            <option value="">France</option>
                          <option value="">Italy</option>
                          <option value="">Philippines</option>
                          <option value="">South Korea</option>
                          <option value="">Hongkong</option>
                          <option value="">Japan</option>
                        </select>
                      </div>
                      </div>
                  </div> -->
                  <div class="w-100"></div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="streetaddress">Street Address</label>
                    <input type="text" formControlName="address" [class.is-invalid]=" checkoutForm.get('address').touched"  class="form-control" placeholder="">
                    <div *ngIf="checkoutForm.get('address').touched">
                      <small *ngIf="checkoutForm.get('address').errors?.required" class="text-danger"> Address is required</small>
                  </div>
                  </div>
                  </div>
                  <!-- <div class="col-md-6">
                      <div class="form-group">
                    
                  </div>
                  </div> -->
                  <div class="w-100"></div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="towncity">Town / City</label>
                    <input type="text" formControlName="city" [class.is-invalid]=" checkoutForm.get('city').touched"  class="form-control" placeholder="">
                    <div *ngIf="checkoutForm.get('city').touched">
                      <small *ngIf="checkoutForm.get('city').errors?.required" class="text-danger">City/Town is required</small>
                  </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="postcodezip">Postcode / ZIP *</label>
                    <input type="text" formControlName="postcode" [class.is-invalid]="checkoutForm.get('postcode').invalid && checkoutForm.get('postcode').touched"  class="form-control" placeholder="">
                    <div *ngIf="checkoutForm.get('postcode').invalid && checkoutForm.get('postcode').touched">
                      <small *ngIf="checkoutForm.get('postcode').errors?.required" class="text-danger">Postcode is required</small>
                      <small *ngIf="checkoutForm.get('postcode').errors?.minlength" class="text-danger">Postcode should be minimum 6 characters long</small>

                  </div>
                  </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                  <div class="form-group">
                      <label for="phone">Phone</label>
                      <input type="number" formControlName="phone" [class.is-invalid]="checkoutForm.get('phone').invalid && checkoutForm.get('phone').touched"  pattern ="^(\+\d{1,10}[- ]?)?\d{10}$" class="form-control" placeholder="">
                      <div *ngIf="checkoutForm.get('phone').invalid && checkoutForm.get('phone').touched">
                        <small *ngIf="checkoutForm.get('phone').errors?.required" class="text-danger">Phone is required</small>
                        <small *ngIf="checkoutForm.get('phone').errors?.pattern" class="text-danger">Phone number should be 10 digits long</small>

                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group">
                      <label for="emailaddress">Email Address</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
              </div> -->
              <div class="w-100"></div>
              <!-- <div class="col-md-12">
                  <div class="form-group mt-4">
                                      <div class="radio">
                                        <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                                        <label><input type="radio" name="optradio"> Ship to different address</label>
                                      </div>
                                  </div>
              </div> -->
              </div>
          <!-- END -->
                  <!-- </div> -->

                  <div class="col-xl-5">
                    <div class="row mt-5 pt-3">
                        <div class="col-md-12 d-flex mb-5">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Cart Total</h3>
                                <p class="d-flex">
                                          <span>Subtotal</span>
                                          <span>₹ {{this.total}}</span>
                                      </p>
                                      <p class="d-flex">
                                          <span>Delivery</span>
                                          <span>₹ 40.00</span>
                                      </p>
                                      <!-- <p class="d-flex">
                                          <span>Discount</span>
                                          <span>$3.00</span>
                                      </p> -->
                                      <hr>
                                      <p class="d-flex total-price">
                                          <span>Total</span>
                                          <span>₹ {{total+40}}</span>
                                      </p>
                                      </div>
                        </div>

                        <div class="col-md-12">
                            <div class="cart-detail p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Payment Method</h3>
                                          <div class="form-group">
                                              <div class="col-md-12">
                                                  <div class="radio">
                                                     <label><input type="radio" name="optradio" class="mr-2" disabled> Direct Bank Tranfer</label>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="col-md-12">
                                                  <div class="radio">
                                                     <label><input type="radio" name="optradio" class="mr-2" checked> Cash on delivery</label>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="col-md-12">
                                                  <div class="radio">
                                                     <label><input type="radio" disabled name="optradio" class="mr-2"> Paypal</label>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- <div class="form-group">
                                              <div class="col-md-12">
                                                  <div class="checkbox">
                                                     <label><input type="checkbox" value="" class="mr-2" > I have read and accept the terms and conditions</label>
                                                  </div>
                                              </div>
                                          </div> -->
                                          <!-- <input type="submit" class="btn btn-primary py-3 px-4" disabled name="join" id="join" value="Place an order" /> -->
                                          <!-- <p><a routerLink="/shopitems" class="btn btn-primary py-3 px-4"  (click)="placeorder()">Place an order</a></p> -->
                                          <button type="submit" [disabled]="checkoutForm.invalid" class="btn btn-primary py-3 px-4" >Place an order</button>          

                                      </div>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->

              </form>
</div>

              </div>
            </div>

          </section> <!-- .section -->
